<aside class="main-container">
  <section class="section-head">
    <div class="modal-container">
      <div class="modal-title">
        <h1>{{ data.pokemon.name }}</h1>
      </div>
      <div class="infos-container">
        <div class="modal-infos">
          <span>Cod: </span>
          <span>#{{data.pokemon.id}}</span>
        </div>
        <div class="modal-infos">
          <span>Type: </span>
          <span class="type" [ngClass]="{
            'grama': data.type[0] === 'grass',
            'fogo': data.type[0] === 'fire',
            'agua': data.type[0] === 'water',
            'eletrico': data.type[0] === 'electric',
            'inseto': data.type[0] === 'bug',
            'normal': data.type[0] === 'normal',
            'veneno': data.type[0] === 'poison',
            'terra': data.type[0] === 'ground',
            'gelo': data.type[0] === 'ice',
            'pedra':data.type[0] === 'rock',
            'lutador': data.type[0] === 'fighting',
            'fada': data.type[0] === 'fairy',
            'psychic': data.type[0] === 'psychic',
            'fantasma': data.type[0] === 'ghost',
            'dragao': data.type[0] === 'dragon'
          }"
          >{{data.type[0]}}</span>
        </div>
      </div>
    </div>
  </section>

  <section class="section-image">
    <div class="image-container">
      <div class="content">
        <picture>
          <img [src]="data.pokemon.sprites.other['official-artwork'].front_default" alt="">
        </picture>
      </div>
    </div>
  </section>

  <article class="status">
    <div class="status-container">
      <div class="status-content">
        <app-charts [stats]="data.stats"></app-charts>
      </div>
    </div>
  </article>

  <article class="section-main">
    <div class="content-container">
      <div class="modal-content">
        <p>Informações</p>
        <div class="modal-info">
          <span class="bold"> Altura: </span>
          <span class="bold"> {{data.pokemon.height | metrics:'height'}}</span>
        </div>

        <div class="modal-info">
          <span class="bold"> Peso: </span>
          <span class="bold"> {{ data.pokemon.weight | metrics:'weight'}}</span>
        </div>
      </div>
    </div>
  </article>

  <article class="section-description">
    <div class="description-container">
      <div class="description-content" >
        <article>
          <p>Descrição</p>
          <small>{{description}}</small>
        </article>
      </div>
    </div>
  </article>
</aside>
