.main-container {
  padding: 1.5rem!important;
  overflow: auto!important;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1)!important;

  .section-head {
    .modal-container {

      .modal-title {
        h1 {
          width: 198px;
          height: 48px;
          color: #233674;
          font-family: 'Nunito', 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 35px;
          line-height: 48px;
          text-align: center;
          text-transform: capitalize;
        }
      }

      .infos-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .modal-infos {
          display: flex;
          align-items: center;
          gap: .25rem;

          span {
            font-size: .875rem;
            font-weight: 500;
            color: #2f3e77;
            line-height: 1.5;
            font-family: 'Nunito', 'Inter';
          }

          .type {
            border-radius: .25rem;
            color: rgba(255, 255, 255, 1)!important;
            padding-right: .5rem;
            padding-left: .5rem;
            font-size: .875rem;
            text-transform: uppercase;
          }

          .fogo {
            background-color: #f08030;

          }

          .grama {
            background-color: #88d8b8;
          }

          .agua {
            background-color: #6890f0;
          }
          .eletrico {
            background-color: #f8d030;
          }
          .fada {
            background-color: #EE99AC;
          }
          .inseto {
            background-color: #a8b820;
          }
          .normal {
            background-color: #a8a878;
          }
          .veneno {
            background-color: #a040a0;
          }
          .terra {
            background-color: #E0C068;
          }
          .gelo {
            background-color: #98D8D8;
          }
          .pedra {
            background-color: #B8A038;
          }
          .lutador {
            background-color: #C03028;
          }
          .psychic {
            background-color: #F85888;
          }
          .fantasma {
            background-color: #705898;
          }
          .dragao {
            background-color: #7038F8;
          }
        }
      }
    }
  }

  .section-image {
    .image-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .content {
        img {
          height: 123.5px;
          width: 121.5px;
        }
      }
    }
  }

  .section-main {
    .content-container {
      .modal-content {
        margin-bottom: 1.5rem;
        p {
          font-family: 'Inter';
          font-weight: 700;
          font-size: 1rem;
          line-height: 1.5;
          color: #2f3e77;
          margin-bottom: .5rem;
        }
        .modal-info {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .bold {
            font-weight: 400;
            margin: 0;
            font-family: 'Inter';
            color: #2f3e77;
            font-size: 1rem;
            line-height: 1.5;
            }
          }
        }
      }
      .content-info {
        display: flex;
      }
  }

  .section-description {
    .description-container {
      .description-content {
        p {
          width: 100px;
          height: 30px;
          color: #233674;
          font-family: 'Nunito', 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 30px;
        }
        small {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #2f3e77;
          text-size-adjust: 100%;
        }
      }
    }
  }
}

