@import "../../../styles/variables";

body {
  background: linear-gradient(180deg, #EFF4FA 0%, rgba(239, 244, 250, 0) 102.84%);
}
.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;

  h1 {
    width: 450px;
    height: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    color: #2F3E77;

    span {
      color: #EA686D,
    }
  }

  p {
    font-family: 'Inter';
    width: 560px;
    height: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #2F3E77
  }

  .input-group {

    .form-control {
      background: #FFFFFF;
      border: 1px solid #F4F4F4;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 5px 0px 0px 5px;
      width: 333px;
      height: 43px;
    }
    .btn {
      position: relative;
      top: 4px;
      background: #EA686D;
      box-shadow: 0px 4px 15px #EA686D;
      border-radius: 0px 5px 5px 0px;
      border: none;
      width: 108px;
      height: 43px;
      text-align: center;
      color: #FFFFFF;
      font-style: normal;
      font-family: 'Inter';
      font-weight: 500;
      font-size: 22px;
      line-height: 30px;
    }
  }

  .pokemon-group {
    position: absolute;
    top: 6%;
    left: 52%;
  }
}

.pokedex-section {

  .pokedex-head {
    display: flex;
    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      color: #2F3E77;
      width: 1060px;
    }

    .pagination {
      button {
        padding: 0;
        margin: 0;
        border: none;
        background: none;
      }
    }
  }

  .pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pokemon-card {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    width: 200px;
  }

  .pokemon-image {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .pokemon-name {
    font-weight: bold;
    text-transform: capitalize;
  }
}


.selected-pokemon {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  margin: 5px;
}

